* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 100vh;
}
body div .btns {
    display: flex;
    gap: 20px;
}
strong{
    font-size: 55px;
    font-weight: 800;
}
.btns button {
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid black;
    background: none;
    letter-spacing: 2px;
    transition: all .4s;
    cursor: pointer;
}
.btns button:hover {
    color: white;
    background: black;
}